#bg-lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.lightbox {
  margin: 25px auto;
  width: 90%;
  height: calc(100% - 50px);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #fff;
}

#lightbox-img {
  display: flex;
  height: 100%;
  flex-grow: 2;
  margin: auto;
}

.lightbox .lightbox-media {
  width: auto;
  max-width: 100%;
  margin: 10px auto;
}

.lightbox div:first-child, .lightbox div:last-child{
  display: flex;
  align-items: center;
}

.lightbox div:first-child{
  padding-left: 5px;
}

.lightbox div:last-child{
  flex-direction: column;
  padding-right: 5px;
}

.lightbox div:last-child img:first-child{
  margin: 5px;
}

.lightbox div:last-child img:last-child{
  flex-grow: 2;
}

.lightbox-icon{
  width: 42px;
  height: 42px;
  margin: auto;
}

.lightbox-icon-close{
  position: absolute;
  margin: 5px 5px 0 0;
}