header {
  padding-top: 43px;
  padding-bottom: 50px;
}

#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.photograph-name {
  color: #d3573c;
}

.photograph-city {
  color: #901c1c;
}

.photograph-header .photograph-info,
.photograph-header .contact_button,
.photograph-header .photograph-profil-picture {
  justify-self: center;
}

.photograph-profil-picture {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 100%;
  filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.25));
}

/**** filter ****/
.photograph-photos-filter {
  display: flex;
  position: relative;
  flex-direction: row;
  margin: 20px 0 58px 100px;
}

.filter-input {
  color: white;
  background-color: #901c1c;
  border: none;
  margin-left: 11px;
  width: 170px;
  height: 69px;
}

.input-label{
  align-self: center;
}

.input-label, .filter-input {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.44px;
}

/**** grid media ****/
.photograph-grid {
  margin-left: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 20px 95px;
}

.photograph-photo-container {
  max-width: 350px;
}

.photograph-photo-img {
  height: 300px;
  width: auto;
}

.photograph-photo-img :first-child {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.photograph-photo-content {
  display: flex;
  flex-direction: row;
}

.photograph-photo-content {
  color: #901c1c;
}

.photograph-photo-content .photo-grid-label {
  flex: 2;
}

.photo-grid-fav .fa-heart {
  margin-left: 4px;
}

.photo-grid-fav a{
  color: #901c1c;
}

/**** "footer"/compteur ****/
.footer-block {
  background-color: #db8876;
  position: fixed;
  height: 89px;
  border-radius: 5px;
  bottom: -13px;
  right: 36px;
  display: flex;
  padding-left: 31px;
  padding-right: 18px;
}

#like-counter,
#price {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 24px;
  line-height: 31.25px;
  text-align: center;
}

#like-counter {
  margin-right: 63px;
}

#like-counter .fa-heart {
  margin-left: 6.38px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

/**** modal ****/
#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(196, 196, 196, 0.4);
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: 69px auto 55px auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
  align-self: start;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  font-size: 28px;
  border: none;
  border-radius: 5px;
}

form textarea {
  resize: none;
  width: 100%;
  height: 170px;
  font-size: 28px;
  border: none;
  border-radius: 5px;
}
